@{
    ViewData["Title"] = "Calyn Greene";
}

<html>

<head>
    <style>
      
    </style>
</head>
<body>

    <div class="text-center">
        <h1 class="welcome">Calyn's Movie Registration Lab</h1>
        <img src="~/css/movies.jpg" style="border-style:solid; border-color: black;"/>
    </div>

</body>
</html>


