@{
    ViewData["Title"] = "Privacy";
}

<div class="text-center">
    <h1 class="display-4" style="color: orange;"><em>Your Privacy Matters</em></h1>
    <p>
        asdfghskivn hdfo;vnbgfdnvbjk'ooodfvnlfdnvblofnvtgfcdbvhb hgrfdnv jfj fdjvk xnfjv ki kgfcgb kcvkfi nvkx bvkf kgfv cv vc ffv . <br>
        asdfghskivn hdfo;vnbgfdnvbjk'ooodfvnlfdnvblofnvtgfcdbvhb hgrfdnv jfj fdjvk xnfjv ki kgfcgb kcvkfi nvkx bvkf kgfv cv vc ffv . <br>

        asdfghskivn hdfo;vnbgfdnvbjk'ooodfvnlfdnvblofnvtgfcdbvhb hgrfdnv jfj fdjvk xnfjv ki kgfcgb kcvkfi nvkx bvkf kgfv cv vc ffv . <br>

        asdfghskivn hdfo;vnbgfdnvbjk'ooodfvnlfdnvblofnvtgfcdbvhb hgrfdnv jfj fdjvk xnfjv ki kgfcgb kcvkfi nvkx bvkf kgfv cv vc ffv . <br>

        asdfghskivn hdfo;vnbgfdnvbjk'ooodfvnlfdnvblofnvtgfcdbvhb hgrfdnv jfj fdjvk xnfjv ki kgfcgb kcvkfi nvkx bvkf kgfv cv vc ffv . <br>

        asdfghskivn hdfo;vnbgfdnvbjk'ooodfvnlfdnvblofnvtgfcdbvhb hgrfdnv jfj fdjvk xnfjv ki kgfcgb kcvkfi nvkx bvkf kgfv cv vc ffv . <br>

        asdfghskivn hdfo;vnbgfdnvbjk'ooodfvnlfdnvblofnvtgfcdbvhb hgrfdnv jfj fdjvk xnfjv ki kgfcgb kcvkfi nvkx bvkf kgfv cv vc ffv . <br>

        asdfghskivn hdfo;vnbgfdnvbjk'ooodfvnlfdnvblofnvtgfcdbvhb hgrfdnv jfj fdjvk xnfjv ki kgfcgb kcvkfi nvkx bvkf kgfv cv vc ffv . <br>

        asdfghskivn hdfo;vnbgfdnvbjk'ooodfvnlfdnvblofnvtgfcdbvhb hgrfdnv jfj fdjvk xnfjv ki kgfcgb kcvkfi nvkx bvkf kgfv cv vc ffv . <br>

        asdfghskivn hdfo;vnbgfdnvbjk'ooodfvnlfdnvblofnvtgfcdbvhb hgrfdnv jfj fdjvk xnfjv ki kgfcgb kcvkfi nvkx bvkf kgfv cv vc ffv . <br>

        asdfghskivn hdfo;vnbgfdnvbjk'ooodfvnlfdnvblofnvtgfcdbvhb hgrfdnv jfj fdjvk xnfjv ki kgfcgb kcvkfi nvkx bvkf kgfv cv vc ffv . <br>

        asdfghskivn hdfo;vnbgfdnvbjk'ooodfvnlfdnvblofnvtgfcdbvhb hgrfdnv jfj fdjvk xnfjv ki kgfcgb kcvkfi nvkx bvkf kgfv cv vc ffv . <br>
    </p>
    <img src="~/css/lock.jpg" width="400px" height="auto"/>
</div>

