
<h1>Form</h1>

<form action="Result">
	<input required type="text" name="ID" placeholder="ID"/><br>
	<input required maxlength="50"type="text" name="Title" placeholder="Title"/><br>
	<h4>Genre</h4>
	<select required name="Genre"> 
		<option value="Comedy"> Comedy </option>
		<option value="Horror"> Horror </option>
		<option value="Action"> Action </option>
		<option value="Sci Fi"> SciFi </option>
	</select><br>
	<input required min="1880" max="2021" type="number" name="Year"placeholder="Year"/><br>
	<input required type="text" name="Actors"placeholder="Actors"/><br>
	<input required type="text" name="Directors"placeholder="Directors"/><br>
	<input type="submit"/>

</form>