
@model Movie

   

        <h1 style="color: orange;">Confirmed</h1>

        <p>The movie @Model.Title has been registered successfully.</p>

        <img src="~/css/popcorn.jpg" width="800px" height="auto" />

   