@model User

@{
    ViewData["Title"] = "AccountCreated";
}


<h1 style="color: orange;">Confirmed</h1>

    

    <p> @Model.Name, your account has been created.</p>
    <img src="~/css/welcome.jpg" />
   

